.cat-col {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  margin: 150px 100px;
  gap: 80px;
}

.cat-each {
  background-color: #F5F5F5;
  border-radius: 5px;
  position: relative;
  background-clip: padding-box;
  border: 2px solid transparent;
  height: 400px;
  display: flex;
}

.cat-each:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: 15px;
  border: inherit;
  background: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background: linear-gradient(to right, red, orange);
}

.cat-img {
  position: absolute;
  left: -10px;
  top: 10px;
  border-radius: 15px;
  overflow: hidden;
  width: 80%;
}

.cat-img img {
  height: auto;
  max-width: 100%;
}

.cat-head {
  margin-left: 35px;
  align-self: flex-end;
  margin-bottom: 20px;
  color: gray;
  font-size: 18px;
}

.icon-plate {
  margin-left: -20px;
  bottom: -15px;
  border: 3px solid orangered;
  border-radius: 50%;
  position: absolute;
}

@media (max-width: 1024px) {
  .cat-each {
    height: 300px;
  }
}

@media (max-width: 900px) {
  .cat-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 470px) {
  .cat-col {
    grid-template-columns: 1fr;
    margin: 150px 30px;
  }
  .cat-each {
    height: 300px;
  }
}